<div class="row justify-content-md-center">
    <div class="col-md-12 col-lg-4">
        <div class="card login-box-container">
            <div class="card-body">
                <div class="authent-logo">
                    <img src="/images/logo@2x.png" alt="">
                </div>
                <div class="authent-text">
                    <p>Xush kelibsiz</p>
                    <p>Tizimga kirish uchun maydonlarni to'ldiring</p>
                </div>
                <form action="/user/login" method="post">
                    <div class="mb-3">
                        <div class="form-floating">
                            <input type="hidden" name="_csrf" value="{{csrf}}">
                            <input type="text" 
                            name="login" class="form-control" id="floatingInput" placeholder="Login">
                            <label for="floatingInput">Login</label>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="form-floating">
                            <input type="password" 
                            name="password"
                            class="form-control" id="floatingPassword" placeholder="Password">
                            <label for="floatingPassword">Mahfiy kalit</label>
                        </div>
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-info m-b-xs">Kirish</button>
                    </div>
                </form>
       
            </div>
        </div>
    </div>
</div>